{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{TITLE}}
{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit {{ TITLE }}</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Markdown Content</label>
            <textarea class="form-control" id="markdown" name="markdown" rows="10" placeholder="Enter the Markdown content for the page..." required>{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
