textarea {
    min-height: 400px;
}


.email_list {
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: white;
    background-color: lightgray;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

#email-view div{
    display: flex;
    justify-content: space-between;
}