{% extends "todo_app/layout.html" %}
{% load static %}

    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task List</title>
        <link rel="stylesheet" href="{% static "todo_app/styles.css" %}">
    {% endblock head %}

    {% block body %}
        <div class="container">
            <h1>Todo List</h1>
            <ul id="todo-list">
                {% for task in todo_list %}
                    <li>{{task}}</task>
                {% empty %}
                    <b>No Task</b>
                {% endfor %}
            </ul>
            <a href="{% url 'todo_app:add' %}">Add new task</a>
        </div>
    
    {% endblock body %}