{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Create New Listing{% endblock title %}


{% block body %}

    <div class="form-body">
        <div class="form2-container">
            <h2>Create New Auction Listing</h2>
            <form method="POST" action="{% url 'create_listing' %}">
                {% csrf_token %}
                <label for="itemName">Item Name</label>
                <input type="text" id="itemName" name="item_name" placeholder="Enter item name" required>
    
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" placeholder="Enter item description" required></textarea>
                
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="" selected disabled>Select category</option>
                    {% for category in category_list %}
                        <option value="{{ category.id }}">{{ category.type }}</option>
                    {% endfor %}
                </select>

                <label for="startingBid">Starting Bid</label>
                <input type="number" id="startingBid" name="starting_bid" placeholder="Enter starting bid" required>

                <label for="imageURL">Image URL</label>
                <input type="url" id="imageURL" name="image_url" placeholder="Enter image URL">

                <label for="imageURL">Extra Images(Separated by ,)</label>
                <input type="url" id="imagesURL" name="images_url" placeholder="List of images">

                <input type="submit">
            </form>
        </div>
    </div>
{% endblock body %}