{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}New Listing{% endblock title %}

{% block body %}
    <div class="form-body">
        <div class="form2-container">
            <h2>Create New Listing</h2>
            <form method="POST" action="{% url 'create_listing' %}">
                {% csrf_token %}
                <div class="form-layout">
                    <div class="s1">
                        <label for="itemName">Item Name: </label>
                        <input autocomplete="off" type="text" id="itemName" name="item_name" placeholder="Enter item name" required>
                        
                        <label for="imageURL">Image URL (optional): </label>
                        <input autocomplete="off" type="url" id="imageURL" name="image_url" placeholder="Enter image URL">
                        
                        <label for="startingBid">Starting Bidding Price: </label>
                        <input autocomplete="off" type="number" id="startingBid" name="starting_bid" placeholder="Enter starting bid" required>
                        
                        <label for="category">Category (optional): </label>
                        <select id="category" name="category">
                            <option value="" selected disabled>Select Category</option>
                            {% for category in category_list %}
                                <option value="{{ category.id }}">{{ category.type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="s2">
                        <label for="image1">Image 1 (optional): </label>
                        <input autocomplete="off" autocomplete="off" type="url" id="image1" name="image1" placeholder="url of Image 1">
                        
                        <label for="image2">Image 2 (optional): </label>
                        <input autocomplete="off" type="url" id="image2" name="image2" placeholder="url of Image 2">
                        
                        <label for="image3">Image 3 (optional): </label>
                        <input autocomplete="off" type="url" id="image3" name="image3" placeholder="url of Image 3">
                        
                        <label for="image4">Image 4 (optional): </label>
                        <input autocomplete="off" type="url" id="image4" name="image4" placeholder="url of Image 4">
                    </div>
                </div>
                
                <label for="description">Description: </label>
                <textarea autocomplete="off" id="description" name="description" rows="4" placeholder="Enter item description" required></textarea>

                <input type="submit">
            </form>
        </div>
    </div>
{% endblock body %}
