{% extends "auctions/layout.html" %}

{% block meta_data %}
{% endblock meta_data %}

{% block body %}
    <div class="head-div">
        <h2 class="page-heading">Active Listings</h2>
        {% if user.is_authenticated %}
        <button class="new-button" style="display: inline;">
            <a href="{% url 'create_listing' %}">Create Listing</a>
        </button>
        {% endif %}
    </div>


    {% for listing in active_listings %}
        <div class="card">
            <div class="card-image">
                <img src="{{ listing.image_url }}" alt="Item Image">
            </div>
            <div class="card-details">
                <div class="card-title-div">
                    <div class="card-title">{{ listing.item_name }}</div>
                </div>
                <div class="card-category">{{ listing.category }}</div>
                <div class="card-price">${{ listing.starting_bid }}</div>
                <div class="card-buttons">
                    <button class="card-button details"><a href="#">Details</a></button>
                    {% if user.is_authenticated %}
                        <button class="card-button watchlist"><a href="#">Add to Watchlist</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
