{% extends "auctions/layout.html" %}

{% block body %}
    <div class="head-div">
        <h2 class="page-heading">Active Listings</h2>
        <button class="card-button" style="display: inline-block;">New</button>
    </div>


    {% for listing in active_listings %}
        <div class="card-container">
            <div class="card-card">
                <div class="card-image">
                    <img src="{{ listing.image_url }}" alt="Item Image">
                </div>
                <div class="card-details">
                    <div class="title-div">
                        <div class="card-title">{{ listing.item_name }}</div>
                    </div>
                    <div class="card-category">{{ listing.category }}</div>
                    <div class="card-price">${{ listing.starting_bid }}</div>
                    <div class="card-buttons">
                        <button class="card-button">Add to Watchlist</button>
                        <button class="card-button">Bid in Auction</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
