{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Auctions{% endblock %}</title>
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet" />
    {% block style %}{% endblock style %}
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="{% url 'index' %}">AUCTIONS</a></div>
            <ul>
                <li class="nav-item">
                    <a href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'categories' %}">Categories</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                <a href="{% url 'watchlist' %}" class="wl-btn">
                    <span><b>Watchlist</b></span>
                    <span class="badge">{{ watchlist_count|default:"0" }}</span>
                </a>
                <li class="nav-item">
                    <a href="#" class="profile-link">
                        <div class="profile-div">
                            <div class="profile-avatar"><span>{{ user.username|slice:":1"|upper}}</span></div>
                            <span class="nav-item">Profile</span>
                        </div>
                    </a>
                </li>
                {% else %}
                    <a class="nav-button" href="{% url 'login' %}">Log In</a>
                    <a class="nav-button" href="{% url 'register' %}">Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="content">{% block body %} {% endblock %}</div>
</body>
</html>
