{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}{{ listing.item_name }}{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/styles.css' %}">
{% endblock head %}

{% block body %}

<div class="listing-details">
    <div class="listing-image">
        <img src="{{ listing.image_url }}" alt="listing Image">
    </div>
    <div class="listing-info">
        <h1>{{ listing.item_name }}</h1>
        <p class="category">Category: {{ listing.category }}</p>
        <p class="owner">Owner: {{ listing.owner }}</p>
        <h2 class="current-price">Current Price: {{ listing.current_price }}</h2>
        <div class="bidding-section">
            <h3>Bid Now</h3>
            <form method="POST" action="{% url 'bid' %}">
                {% csrf_token %}
                <input type="number" id="biddingAmount" name="bidding_amount" placeholder="Enter Bidding Amount" required>
                <button type="submit">Submit Bid</button>
            </form>
        </div>
    </div>
</div>

<div class="extra-images">
    {% for image in images %}
    <div class="extra-image">
        <img src="{{ image.image_url }}" alt="No Image Found">
    </div>
    {% endfor %}
</div>


<div class="description-section">
    <h3>Description</h3>
    <p>{{ listing.description }}</p>
</div>

<div class="comments-section">
    <h3>Comments</h3>
    <form action="{% url 'add_comment' %}" method="post">
        {% csrf_token %}
        <input type="text" name="comment-input" placeholder="Enter your comment">
        <button type="submit">Submit Comment</button>
    </form>
    <div class="comment-list">
        {% for comment in comments %}
        <div class="single-comment">
            <p class="commenter">{{ comment.commenter }}</p>
            <p class="comment-text">{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
