{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}{{ listing.item_name }}{% endblock title %}

{% block body %}

<div class="item-section">
    {% if not listing.active %}
    <div class="sold-tag">Sold</div>
    {% endif %}
    <div class="item-image">
        <img src="{{ listing.image_url }}" alt="listing Image">
    </div>
    <div class="item-info">
        <h1>{{ listing.item_name }}</h1>
        <p class="info">Category: {{ listing.category }} <br>Starting Price: ${{ listing.starting_bid }}</p>
        <div class="item-section-buttons">
            <form action="{% url 'add_to_watchlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                {% if is_in_watchlist %}
                    <button type="submit" class="remove-button">
                        <img class="icon" src="{% static 'auctions/images/xmark-solid.svg' %}" alt="">
                    <span>Remove from Watchlist</span>
                    </button>
                {% else %}
                    <button type="submit" class="watchlist-button">
                        <img class="icon" src="{% static 'auctions/images/white_star.svg' %}" alt="">
                        <span>Add to Watchlist</span>
                    </button>
                {% endif %}
            </form>

            {% if user == listing.owner and listing.active %}
            <form action="{% url 'close_bidding' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" class="close-bidding-button">
                        <img class="icon" src="{% static 'auctions/images/lock.svg' %}" alt="">
                        <span>CLOSE BIDDING</span>
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="item-description">
            <p>{{ listing.description }}</p>
        </div>
        <p>Created On: <span>{{ listing.created_at }}</span></p>
    </div>
</div>

<div class="extra-images">
    {% for image in images %}
    <div class="extra-image">
        <img src="{{ image.image_url }}" alt="No Image Found">
    </div>
    {% endfor %}
</div>

<div class="owner-section">
    <div class="owner-details">
        <div class="owner-avatar">
            {{ listing.owner.username|slice:":1"|upper }}
        </div>
        <div class="owner-info">
            <h3>Owner</h3>
            <h4>Name: {{ listing.owner }}</h4>
            <h4>Email: {{ listing.owner.email }}</h4>
        </div>
    </div>
</div>

{% if message %}
    <div class="message">
        <div class="{{ status }}">{{ message }}</div>
    </div>
{% endif %}
<div class="bid-and-top-bidder">
    {% if listing.active %}
    <div class="bidding-section">
        <a name="bid-form" href="#bid-form"></a>
        <h3>Wanna bid on {{ listing.item_name }}</h3>
        <h2 class="price">Current Price: <span>${{ listing.current_price }}</span></h2>
        <div class="bidding-form">
            <form method="POST">
                {% csrf_token %}
                <label for="bidding_amount">Bid Amount: </label>
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input type="number" id="biddingAmount" name="bidding_amount" placeholder="Enter Bidding Amount" value="{{ bidding_amount|default:'' }}" required>
                <button type="submit">Bid</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="bidding-closed">
        <h3>Bidding for this item is closed.</h3>
        <h2 class="price">Sold for: <span>${{ listing.current_price }}</span></h2>
        <h2 class="price">Sold to: <span>{{ listing.winner }}</span></h2>
    </div>
    {% endif %}

    <div class="top-bidders-section">
        <h3>Top 5 Bidders</h3>
        <ol>
            {% for bid in top_bids %}
            <li>
                <span class="bidder-name">{{ bid.bidder }}</span>
                <span class="bidder-amount">${{ bid.amount }}</span>
            </li>
            {% empty %}
            <li>No bids yet.</li>
            {% endfor %}
        </ol>
    </div>    
</div>


<div class="comment-section">
    <h3>Comment</h3>
    <div class="comment-box">
        <div class="user-info">
            <div class="comment-avatar">{{ user.username|slice:":1"|upper }}</div>
            <div class="username">{{ user.username }}</div>
        </div>
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <textarea name="comment_text" placeholder="Add a public comment..." required autocomplete="off" rows="1"></textarea>
        </div>
        <div class="buttons">
            <button type="submit" class="submit-button">Comment</button>
        </div>
    </form>
</div>
<a name=comment href="#comment"></a>

{% if comments %}
<div class="comments-list">
    {% for comment in comments %}
    <div class="single-comment">
        <p class="commenter">{{ comment.commenter }}</p>
        <p class="comment-text">{{ comment.text }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock body %}
