{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}{{ listing.item_name }}{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/styles.css' %}">
{% endblock head %}

{% block body %}

<div class="item-section">
    <div class="item-image">
        <img src="{{ listing.image_url }}" alt="listing Image">
    </div>
    <div class="item-info">
        <h1>{{ listing.item_name }}</h1>
        <p class="info">Category: {{ listing.category }} <br>Starting Price: ${{ listing.starting_bid }}</p>
        <div class="item-description">
            <p>{{ listing.description }}</p>
        </div>
        <p>Created On: <span>{{listing.created_at}}</span></p>
    </div>
</div>

<div class="extra-images">
    {% for image in images %}
    <div class="extra-image">
        <img src="{{ image.image_url }}" alt="No Image Found">
    </div>
    {% endfor %}
</div>

<div class="owner-section">
    <div class="owner-details">
        <div class="owner-avatar">
            {{ listing.owner.username|slice:":1"|upper }}
        </div>
        <div class="owner-info">
            <h3>Owner</h3>
            <h4>Name: {{ listing.owner }}</h5>
            <h4>Email: {{ listing.owner.email }}</h5>
        </div>
    </div>
</div>


<div class="bidding-section">
    <a name="bid-form" href="#bid-form"></a>
    <h3>Wanna to bid in {{ listing.item_name }}</h3>
    <h2 class="price">Current Price: <span>${{ listing.current_price }}</span></h2>
    <div class="bidding-form">
        {% if message %}
            <div class="message">
                <div class="{{ status }}">{{ message }}</div>
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="bidding_amount">Bid Amount: </label>
            <input type="number" id="biddingAmount" name="bidding_amount" placeholder="Enter Bidding Amount" value="{{ bidding_amount|default:'' }}" required>
            <button type="submit">Bid</button>
        </form>
    </div>
</div>

<div class="comment-section">
    <h3>Comment</h3>
    <div class="comment-box">
        <div class="user-info">
            <div class="comment-avatar">{{ user.username|slice:":1"|upper}}</div>
            <div class="username">{{ user.username }}</div>
        </div>
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="text" name="comment_text" placeholder="Add a public comment..." required autocomplete="off">
        </div>
        <div class="buttons">
            <button type="submit" class="submit-button">Comment</button>
        </div>
    </form>
</div>
<a name=comment href="#comment"></a>

<div class="comments-list">
    {% for comment in comments %}
    <div class="single-comment">
        <p class="commenter">{{ comment.commenter }}</p>
        <p class="comment-text">{{ comment.text }}</p>
    </div>
    {% endfor %}
</div>

{% endblock body %}
