{% extends "auctions/layout.html" %}

{% block title%}Register{% endblock title %}

{% block body %}
<div class="form-body">
    <div class="form-container">
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input autofocus autocomplete="off" type="text" name="username" placeholder="Username" />
            <input autocomplete="off" type="email" name="email" placeholder="Email Address" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="confirmation" placeholder="Confirm Password" />
            {% if message %}
            <div>{{ message }}</div>
            {% endif %}
            <input type="submit" value="Register" />
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </div>
</div>
{% endblock %}