{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Watchlist{% endblock title %}

{% block body %}
<div class="head-div">
    <h2 class="page-heading">{{ request.user }}'s Watchlist</h2>
</div>


{% for listing in listings %}
<div class="card">
    {% if not listing.active %}
    <div class="card-sold-tag">Sold</div>
    {% endif %}
    <div class="card-image">
        <img src="{{ listing.image_url }}" alt="Item Image">
    </div>
    <div class="card-details">
        <div class="card-title-div">
            <div class="card-title">{{ listing.item_name }}</div>
        </div>
        <div class="card-category">{{ listing.category }}</div>
        <div class="card-price">Current Price: <span>₹{{ listing.current_price }}</span></div>
        <div class="card-buttons">
            <a class="card-button details" href="/listing/{{ listing.id }}">Details</a>
            {% if user.is_authenticated %}
            <form action="{% url 'add_to_watchlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                {% if listing in watchlist %}
                <button type="submit" class="card-button watchlist remove">Remove from Watchlist</button>
                {% else %}
                <button type="submit" class="card-button watchlist add">Add to Watchlist</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
