{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}Watchlist{% endblock title %}

{% block body %}
<div class="head-div">
    <h2 class="page-heading">{{ request.user }}'s Watchlist</h2>
</div>


{% for listing in listings %}
<div class="card">
    <div class="card-image">
        <img src="{{ listing.image_url }}" alt="Item Image">
    </div>
    <div class="card-details">
        <div class="card-title-div">
            <div class="card-title">{{ listing.item_name }}</div>
        </div>
        <div class="card-category">{{ listing.category }}</div>
        <div class="card-price">Current Price: <span>${{ listing.current_price }}</span></div>
        <div class="card-buttons">
            {% if user.is_authenticated %}
            <a class="card-button watchlist" href="#">Add to Watchlist</a>
            {% endif %}
            <a class="card-button details" href="/listing/{{ listing.id }}">Details</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
