.regi-body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.regi-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.regi-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.regi-container input[type="text"],
.regi-container input[type="password"],
.regi-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #add7f6ff;
    transition: border-color 0.4s ease;
}

.regi-container input[type="text"]:focus-visible,
.regi-container input[type="password"]:focus-visible,
.regi-container input[type="email"]:focus-visible {
    border: none;
    outline: none;
    border-bottom: 2px solid #0077ff;
}

.regi-container input[name="confirmation"]{
    margin-bottom: 0;
}

.regi-container input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.regi-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.regi-container p {
    margin-top: 15px;
    text-align: center;
}
.content {
    margin-top: 0px;
}