body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f3f3f3;
}

:root {
    --uranian-blue: #add7f6ff;
    --jordy-blue: #87bfffff;
    --chefchaouen-blue: #3f8efcff;
    --neon-blue: #2667ffff;
    --chrysler-blue: #3b28ccff;
}

* {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navdiv {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv ul {
    margin: 0.4em;
    display: flex;
    align-items: center;
}

.logo a {
    margin-left: 10px;
    font-size: 35px;
    font-weight: 600;
    color: #000;
}

.nav-item {
    list-style: none;
    display: inline-block;
    justify-content: center;
}

.nav-item a {
    color: rgba(0, 0, 0, 0.514);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.nav-item a:hover {
    color: #0077ff;
}

.nav-button {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--uranian-blue);
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
}

.wl-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 40px;
    background: linear-gradient(to right, #0049ff, #8ed0ff);
    z-index: 1;
}

.wl-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #8ed0ff, #0049ff);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: -1;
    border-radius: 8px;
}

.wl-btn:hover::before {
    opacity: 1;
}

.wl-btn .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 9px;
    border-radius: 50%;
    background: #0049ff;
    z-index: 2;
}

.wl-btn span {
    position: relative;
    z-index: 1;
}

.profile-div {
    margin-right: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #777;
    background-color: #ccc;
}

.profile-link {
    position: absolute;
    top: -100px;
    color: #000;
    display: contents;
    background-color: red;
    width: fit-content;
}

.head-div {
    margin: 85px auto 20px;
    width: fit-content;
    border-bottom: 3px solid #000;
    padding: 5px;
}

.head-div .page-heading {
    font-size: 45px;
    margin: 0;
    display: inline-block;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: 2px;
}

.new-button {
    color: white;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    justify-self: center;
    padding: 10px;
    border: 2px solid #3c8844;
    border-radius: 50px;
    cursor: pointer;
    background-color: #3c8844;
    transition: background-color 0.3s ease;
}

.new-button:hover {
    background-color: #56bd5e;
}

.card {
    display: inline-block;
    justify-content: center;
    align-items: flex;
    padding: 2px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 15px;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: inline-flex;
    margin: 0 auto;
}

.card-details {
    padding: 20px;
}

.card-title-div {
    height: 70px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.card-title {
    font-size: 18px;
    font-family: 'Maiandra GD';
    font-weight: 600;
    margin-bottom: 10px;
}

.card-category {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card-price {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-price span {
    font-size: x-large;
    background: linear-gradient(45deg, #3bbb3f, #388e3c, #2e7d32, #144517);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.card-button.details {
    background-color: #3498db;
    color: white;
}

.card-button.watchlist {
    border: 1px solid #000;
    background-color: white;
    color: #000;
}

.card-button.watchlist:hover {
    background-color: #3498db;
    color: white;
    padding: 11px 21px;
    border: none;
}

.card-button.details:hover {
    background-color: #2980b9;
}

.card-button.watchlist.add:hover {
    background: linear-gradient(45deg, #799fff, #2ecc71);
}

.card-button.watchlist.remove:hover {
    background: linear-gradient(45deg, #ff6f61, #de6262);
}

.card-sold-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.form-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #add7f6ff;
    transition: border-color 0.4s ease;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus {
    border-bottom: 2px solid #0077ff;
    outline: none;
}

.form-container input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container p {
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .form2-container {
        width: 90%;
        padding: 20px;
    }

    .form2-container .form-layout {
        flex-direction: column;
    }

    .s1, .s2 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .form-body {
        margin-top: 250px;
    }
}

.form2-container {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.form2-container .form-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.s1 {
    flex: 1;
    margin-right: 20px;
}

.s2 {
    flex: 1;
}

.form2-container label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

.form2-container input[type="text"],
.form2-container input[type="number"],
.form2-container textarea,
.form2-container select,
.form2-container input[type="url"] {
    width: 90%; 
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    resize: vertical;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 16px;
    color: #555;
}

.form2-container input[type="text"]:focus,
.form2-container input[type="number"]:focus,
.form2-container textarea:focus,
.form2-container select:focus,
.form2-container input[type="url"]:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.form2-container input[type="submit"] {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    border-bottom: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
    background: radial-gradient(circle, #41ff6a, #486d4e);
    transition: background-color 0.3s ease;
    display: inline-block;
    width: auto;
}

.form2-container input[type="submit"]:hover {
    background: radial-gradient(circle, #56ff4d, #005813);
}

.item-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 150px auto 70px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.sold-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.item-image img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.item-image img:hover {
    transform: scale(1.05);
}

.item-info {
    flex: 2;
    padding: 20px;
}

.item-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.info {
    font-size: 16px;
    font-weight: bold;
    color: #424d55;
}

.icon {
    fill: #000;
    width: 20px;
    height: 20px;
    padding: 7px;
}

.item-section-buttons {
    display: flex;
    justify-content: space-between;
}

.watchlist-button, .remove-button {
    display: inline-flex;
    align-items: center;
    color: #fff;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.watchlist-button {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
}

.watchlist-button:hover {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.watchlist-button:before, .remove-button:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.75s ease-in-out;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0.1);
}

.watchlist-button:hover:before, .remove-button:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

.watchlist-button span, .remove-button span {
    z-index: 1;
}

.remove-button {
    background: linear-gradient(135deg, #ff6f61, #de6262);
}

.remove-button:hover {
    background: linear-gradient(135deg, #de6262, #ff6f61);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.remove-button:before {
    background: rgba(255, 0, 0, 0.15);
}

.close-bidding-button {
    display: inline-flex;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    justify-self: center;
    padding: 3px 7px;
    border: 2px solid #c72c41;
    border-radius: 50px;
    cursor: pointer;
    background-color: #c72c41;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.close-bidding-button:hover {
    background-color: #ff4c61;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.item-description {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #bed2f7;
    border-radius: 10px;
    margin-top: 20px;
}

.item-info p span {
    font-weight: bold;
    color: #515151;
}

.extra-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.extra-image {
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s;
    border: 1px solid #cecece;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extra-image img {
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.extra-image:hover {
    transform: scale(1.05);
}

.owner-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

.owner-info h3 {
    display: inline-block;
    text-decoration: underline;
    font-size: 22px;
    margin: 0 0 15px;
    color: #969696;
}

.owner-section h4 {
    font-size: 18px;
    margin: 0;
    color: #555;
}

.owner-section .owner-details {
    display: flex;
    align-items: center;
}

.owner-section .owner-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #777;
}

.owner-section .owner-info {
    margin-left: 5px;
}

.bidding-section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bidding-section h3 {
    font-size: 22px;
    margin: 20px 0;
    color: #707070;
}

.bidding-section .price {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.bidding-closed {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffe6e6;
    border: 1px solid #ff9999;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bidding-closed h3 {
    color: #d9534f;
    font-size: 24px;
    margin-bottom: 10px;
}

.bidding-closed .price {
    font-size: 22px;
    color: #333;
}

.bidding-form {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.bidding-form label {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.bidding-section .price span {
    color: #d32f2f;
    font-weight: 700;
    font-size: 1.5em;
    border: 2px solid #d32f2f;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #fff8f6;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bidding-section .price span:hover {
    background-color: #d32f2f;
    color: #fff;
}

.message {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    margin: 20px auto;
    max-width: 500px;
    opacity: 1;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.error {
    background-color: #ffd7dbc4;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 20px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
}

.bidding-section input[type="number"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    transition: border-color 0.3s;
}

.bidding-section input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

.bid-and-top-bidder {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bidding-section button {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

.bidding-section button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.bidding-section button:active {
    transform: translateY(0);
}

.top-bidders-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bidders-section h3 {
    margin-bottom: 15px;
}

.top-bidders-section ol {
    padding: 0;
}

.top-bidders-section li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.bidder-name {
    font-weight: bold;
    color: #333;
}

.bidder-amount {
    font-weight: bold;
    color: #007bff;
}

.comment-section, .comments-list {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #777;
    background-color: #ccc;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: #555;
}

.comment-form-div {
    display: flex;
    gap: 5px;
    width: 100%;
}

.comment-section textarea {
    display: inline;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #add7f6ff;
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, sans-serif;;
    transition: border 0.4s ease;
    resize: none;
}

.comment-section textarea:focus {
    border-bottom: 2px solid #0051bc;
}

.buttons {
    display: flex;
    justify-content: flex-end;    
}

.comment-section button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 40px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.comment-section button:hover {
    background-color: #1669c1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.comments-list {
    margin-top: 20px;
}

.single-comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.commenter {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-text {
    color: #555;
}

@media screen and (max-width: 768px) {
    .item-info {
        flex-direction: column;
        justify-content: center;
    }

    .navdiv {
        flex-direction: column;
    }

    .nav-item {
        display: inline-flex;
    }
}

.profile-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logout-form {
    display: flex;
    justify-content: end;
    margin: 0;
}

.logout-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #f9f9f9;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.logout-button svg {
    margin-right: 8px;
}

.logout-button:hover {
    background-color: #ff6200;
    color: white;
    border: none;
    padding: 11px;
}

.profile-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.profile-section h2 {
    font-size: 28px;
    color: #0088ff;
    margin-bottom: 20px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.profile-details p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.listings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


