body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f3f3f3;
}

:root{
    --uranian-blue: #add7f6ff;
    --jordy-blue: #87bfffff;
    --chefchaouen-blue: #3f8efcff;
    --neon-blue: #2667ffff;
    --chrysler-blue: #3b28ccff;
}

*{
    text-decoration: none;
}

.navbar{
    position: fixed;
    top: 5px;
    left: 5px;
    width: 99%;
    z-index: 2;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navdiv{
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
    display: inline-block;
}

.nav-item a{
    color: rgba(0, 0, 0, 0.514);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.nav-item a:hover{
    color: #0077ff;
}

.nav-button{
    background-color: var(--uranian-blue);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border-color: black;
    padding: 10px;
}

.nav-button a{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.content {
    margin-top: 80px;
}

/* Hide the scrollbar while still allowing scrolling */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Optional: Customize scrollbar track and thumb to be transparent */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }